* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
}

.color-blue {
  color: #0c51a7;
}

.color-orange {
  color: #e95e10;
}

.color-pink {
  color:#e5245e;
}

.color-purple {
  color: #591b98;
}

body {

  background-color: #1E1E1E;
}

#page {
  width: 1120px;
  background-color: #F5F4F0;
  padding: 88px 80px;
  margin: auto;

}

hr {
  color: #6867672a;
}

h1, h2, h3 {
  color: #1B1B1B;
}

p {
  color: #333333;
}

img {
  border-radius: 28px;
}

.header-text {
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
  text-transform: uppercase;

}

#about-busan h1 {
  font-size: 36px;
  font-weight: bold;
}

#about-box {
  padding: 40px 0px;
}

.subtitle {
  font-size: 16px;
  font-style: italic;
  margin-top: 24px;
  color: #333333;
}

#destination-box {
  padding: 64px 0px;
}

#destinations-busan h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

#destinations-busan p {
  font-size: 16px;
  font-weight: regular;
}

.card {
  margin-bottom:48px;
}

.card img {
  margin-bottom: 20px;
}
.card h3 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 5px;
}

.card p + p {
  font-weight: bold;
  margin-top: 15px;
}

.card ul li {
  font-weight: bold;
  margin-left: 20px;
}

.final-considerations {
    margin-top: 40px;
}

footer {
  background-color: #F5F4F0;
  color: #333333;
  width: 1280px;
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
}
footer img {
  vertical-align: middle;
}